{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Stock History{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Search Stock History</h5>
            <form method='POST' action='' class="datetimeinput">{% csrf_token %} {{form|crispy}}
              <input class="btn btn-primary mybutton" type="submit" value='Search' />
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Stock History</h5>
          </div>
          <div class="card-body">
            <table class='table table-striped' id="tblData">
              <thead>
                <tr>
                  <th>COUNT</th>
                  <th>CATEGORY</th>
                  <th>ITEM NAME</th>
                  <th>QUANTITY IN STORE</th>
                  <th>ISSUE QUANTITY</th>
                  <th>RECEIVE QUANTITY</th>
                  <th>SUPPLIER</th>
                  <th>RECEIVE BY</th>
                  <th>ISSUE BY</th>
                  <th>LAST UPDATED</th>
                </tr>
              </thead>
              <tbody>
                {% for instance in queryset %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ instance.stock.category }}</td>
                    <td>{{ instance.stock.item_name }}</td>
                    <td>{{ instance.stock.quantity }}</td>
                    <td>{% if instance.action == 'issue' %}{{ instance.quantity }}{% else %}0{% endif %}</td>
                    <td>{% if instance.action == 'receive' %}{{ instance.quantity }}{% else %}0{% endif %}</td>
                    <td>{{ instance.supplier }}</td>
                    <td>{% if instance.action == 'receive' %}{{ instance.user }}{% endif %}</td>
                    <td>{% if instance.action == 'issue' %}{{ instance.user }}{% endif %}</td>
                    <td>{{ instance.timestamp }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
