{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}List Items{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Search and Actions</h5>
            <form method='POST' action=''>{% csrf_token %} {{form|crispy}}
              <input class="btn btn-primary mybutton" type="submit" value='Search' />
            </form>
            <br>
            <a href="{% url 'add_items' %}" class="btn btn-primary mybutton mt-2">Add Items</a><br><br>
            <a href="{% url 'list_history' %}" class="btn btn-primary mybutton">List History</a>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">List of Items</h5>
          </div>
          <div class="card-body">
            <table class='table table-striped' id="tblData">
              <thead>
                <tr>
                  <!-- <th>COUNT</th> -->
                  <!-- <th>ID</th> -->
                  <th>CATEGORY</th>
                  <th>ITEM NAME</th>
                  <th>QUANTITY IN STORE</th>
                  <th>REORDER LEVEL</th>
                  <th>TIMESTAMP</th>
                  <th>LAST UPDATED</th>
                  <th>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                {% for instance in queryset %}
                  <tr>
                    <!-- <td>{{forloop.counter}}</td>
                    <td>{{instance.id}}</td> -->
                    <td>{{instance.category}}</td>
                    <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}}</a></td>
                    <td>
                      {% if instance.reorder_level >= instance.quantity %}
                        <div class="low-stock" style="background-color: orange;">
                          <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
                        </div>
                      {% else %} 
                        <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a> 
                      {% endif %}
                    </td>
                    <td><a href="{% url 'reorder_level' instance.id %}">{{instance.reorder_level}}</a></td>
                    <td>{{instance.timestamp}}</td>
                    <td>{{instance.last_updated}}</td>
                    <td>
                      <a href="{% url 'update_items' instance.id %}" class="btn btn-primary btn-sm">Edit</a>
                      <a href="{% url 'delete_items' instance.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- <button onclick="exportTableToExcel('tblData', 'list-data')">Export Table Data To Excel File</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}