{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Stock Detail - {{ queryset.item_name }}{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Stock Detail - {{ queryset.item_name }}</h5>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-6">
                <a href="{% url 'issue_items' queryset.id %}" class="btn btn-danger btn-block">ISSUE THIS ITEM</a>
              </div>
              <div class="col-md-6">
                <a href="{% url 'receive_items' queryset.id %}" class="btn btn-primary btn-block">RECEIVE THIS ITEM</a>
              </div>
            </div>

            <table class='table table-bordered'>
              <tr>
                <th>ITEM NAME</th>
                <td>{{ queryset.item_name }}</td>
              </tr>
              <tr>
                <th>QUANTITY IN STORE</th>
                <td>{{ queryset.quantity }}</td>
              </tr>
              <tr>
                <th>LAST UPDATED</th>
                <td>{{ queryset.last_updated }}</td>
              </tr>
              <tr>
                <th>REORDER LEVEL</th>
                <td>{{ queryset.reorder_level }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}